<!DOCTYPE html>
<html style="font-size: 16px;" lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Incasol</title>
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
<link rel="stylesheet" href="css/estiloProductos.css" media="screen">
    <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.10.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="css/fonts1.css">
    <link id="u-page-google-font" rel="stylesheet" href="css/fonts2.css">




    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1",
		"sameAs": [
				"https://es-la.facebook.com/philomelacall/",
				"https://es-la.facebook.com/philomelacall/",
				"https://es-la.facebook.com/philomelacall/",
				"https://es-la.facebook.com/philomelacall/"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="plantilla1">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode"><header class="u-align-center u-clearfix u-custom-color-2 u-header u-sticky" id="sec-b6d3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-align-right u-menu u-menu-dropdown u-offcanvas u-menu-1" data-position="">
          <div class="menu-collapse u-custom-font" style="font-size: 1.25rem; letter-spacing: 0px; font-family: Cairo; font-weight: 700;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-grey-10 u-nav-link u-text-custom-color-3 u-text-hover-grey-90" href="/vistaOperador" style="padding: 10px 20px;">País</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-grey-10 u-nav-link u-text-custom-color-3 u-text-hover-grey-90" style="padding: 10px 20px;" href="manuales/OBJECIONESPARAPRODUCTODEPERDIDASDEPESO.pdf" target="_blank">Objeciones</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-hover-grey-10 u-nav-link u-text-custom-color-3 u-text-hover-grey-90" style="padding: 10px 20px;" href="/logout">Logout</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/vistaOperador">País</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="manuales/OBJECIONESPARAPRODUCTODEPERDIDASDEPESO.pdf" target="_blank">Objeciones</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/logout">Logout</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <h3 class="u-headline u-text u-text-custom-color-3 u-text-default u-text-1">
          <h3 class="u-headline u-text u-text-custom-color-3 u-text-default u-text-1">
            <a>Incasol:</a>
            <%if(pais){%>
              <%=nacion%>
            <%}%>
          </h3>
        </h3>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-3401">
      <h1 class="u-text u-text-default u-text-1">Ficha Técnica</h1>
      <img class="u-border-10 u-border-custom-color-2 u-image u-image-round u-radius-50 u-image-1" src="img/fichasTecnicas/fichaTecnicaIncasol.png" alt="" data-image-width="2000" data-image-height="1414">
    </section>
    <section class="u-clearfix u-section-2" id="sec-7b3f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1">Tabla de Precios</h1>
        <img class="u-image u-image-contain u-image-default u-image-1" src="img/tablasProductos/costaRica/tablaIncasolCR.png" alt="" data-image-width="850" data-image-height="306">
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-7ae1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
          <ul class="u-border-1 u-border-custom-color-2 u-custom-color-2 u-spacing-5 u-tab-list u-unstyled u-tab-list-1" role="tablist">
            <li class="u-tab-item" role="presentation">
              <a class="active u-button-style u-custom-color-2 u-tab-link u-text-custom-color-3 u-tab-link-1" id="link-tab-5cbb" href="#tab-5cbb" role="tab" aria-controls="tab-5cbb" aria-selected="true">Inicio de Venta</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-button-style u-custom-color-2 u-tab-link u-text-custom-color-3 u-tab-link-2" id="link-tab-1b1d" href="#tab-1b1d" role="tab" aria-controls="tab-1b1d" aria-selected="false">Preguntas de&nbsp;<br>Necesidades
              </a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-button-style u-custom-color-2 u-tab-link u-text-custom-color-3 u-tab-link-3" id="link-tab-825a" href="#tab-825a" role="tab" aria-controls="tab-825a" aria-selected="false">Personalización e Impulsación</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-button-style u-custom-color-2 u-tab-link u-text-custom-color-3 u-tab-link-4" id="link-tab-5283" href="#tab-5283" role="tab" aria-controls="tab-5283" aria-selected="false">Toma de Datos</a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-button-style u-custom-color-2 u-tab-link u-text-custom-color-3 u-tab-link-5" id="link-tab-b447" href="#tab-b447" role="tab" aria-controls="tab-b447" aria-selected="false">Recuerda:&nbsp;<br>¡El Secreto!
              </a>
            </li>
            <li class="u-tab-item" role="presentation">
              <a class="u-button-style u-custom-color-2 u-tab-link u-text-custom-color-3 u-tab-link-6" id="link-tab-060b" href="#tab-060b" role="tab" aria-controls="tab-060b" aria-selected="false">Frases de Llamada</a>
            </li>
          </ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-5cbb" role="tabpanel" aria-labelledby="link-tab-5cbb">
              <div class="u-container-layout u-container-layout-1">
                <h1 class="u-text u-text-default u-text-1">Inicio de Venta</h1>
                <p class="u-align-justify u-text u-text-2">
                  <span class="u-text-custom-color-4">Buen día es un gusto saludarl@ mi nombre es ___________ de la compañía 2Wstore, el motivo de mi llamada es para Formalizar la solicitud del producto INCASOL (Darle tiempo al cliente para que responda SI o NO) ¿con quién tengo el gusto?<br>
                  </span>
                  <br>
                  <span class="u-text-black">"Buen día ¿tengo el gusto con el Sr./Sra./Srta _________? mi nombre es (Nombre del operador) Me comunico de la Compañia 2WSTORE "<br>
                    <br>"El motivo de mi llamada es para Formalizar la solicitud del producto INCASOL, producto para la pérdida de peso y quemador de grasas, ¿lo recuerda?"<br>
                    <br>
                    <span class="u-text-body-color">"Esta conversación será grabada p</span>
                  </span>
                  <span class="u-text-body-color">ara mejorar la calidad de servicio en atención al cliente y protección al consumidor."</span>
                </p>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-2" id="tab-1b1d" role="tabpanel" aria-labelledby="link-tab-1b1d">
              <div class="u-container-layout u-valign-top u-container-layout-2">
                <h1 class="u-text u-text-default u-text-3">Realiza las preguntas de Necesidades</h1>
                <p class="u-align-justify u-text u-text-body-color u-text-4">Nuestros clientes recurren a utilizar el producto para ayudar a reducir el aumento de la presión arterial y reducir el colesterol, Sr/Srita (nombre del cliente) ¿Para qué desea utilizarlo?</p>
                <ol class="u-text u-text-5">
                  <li>
                    <span style="font-weight: 700;">
                      <span style="font-weight: 400;">
                        <span style="font-weight: 700;"> Opción:&nbsp;</span>
                      </span>
                    </span>
                    <span class="u-text-custom-color-4" style="font-weight: 700;">¿Hace cuánto padece de problemas?</span>
                  </li>
                  <li>
                    <span style="font-weight: 700;">Opción:&nbsp;</span>
                    <span class="u-text-custom-color-4" style="font-weight: 700;">¿Lo desea, para el sistema cardiovascular o para eliminar toxinas?</span>
                  </li>
                </ol>
                <%if(pais==5){%>
                <p class="u-text-custom-color-4">Antes de indicarle los tratamientos puede decirme en que provincia, cantón y distrito se encuentra para verificar su cobertura
</p>
                <%}%>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-825a" role="tabpanel" aria-labelledby="link-tab-825a">
              <div class="u-container-layout u-container-layout-3">
                <h1 class="u-text u-text-default u-text-6">Personalización</h1>
                <%if(pais==5){%>
                  <p class="u-align-justify u-text u-text-body-color u-text-7">El día de hoy le ofrezco 3 tratamientos que se adecuan a su necesidad, sin embargo, yo le recomiendo el menor que es&nbsp;
                    <span class="u-text-custom-color-4">PLUS</span>&nbsp;ya que es el tratamiento que se de adapta a su caso:<br>
                  </p>
                  <p class="u-align-center u-text u-text-body-color u-text-8">3+2 ₡ 66,000 // PLUS</p>
                  <p class="u-align-justify u-text u-text-body-color u-text-9">CON EL TRATAMIENTO PLUS OBTIENE 5 UNIDADES, 3 DE ELLOS CON LA PROMOCIÓN QUE OBSERVÓ EN NUESTRA PAGINA ¡Y 2 UNIDADES MÁS TOTALMENTE GRATIS! ¿LO DESEA RECIBIR EN SU CASA O TRABAJO?<br>
                  </p>
                  <%}%>
                  <h1 class="u-text u-text-default u-text-10">Impulsación</h1>
                  <p class="u-align-justify u-text u-text-body-color u-text-11">
                    <span class="u-text-custom-color-4">SI POR ALGUNA RAZÓN EL CLIENTE RECHAZA LA COMPRA DE ESTOS TRATAMIENTOS PODEMOS OFRECER DE MANERA INMEDIATA UN TRATAMIENTO MENOR COMO UNA IMPULSACIÓN:&nbsp;</span>
                    <%if(pais==5){%>
                      <br>COMPRENDO LA SITUACIÓN QUE ME EXPONE SI GUSTA POR ESTA OCASIÓN PUEDO OFRECERLE TAMBIÉN UN TRATAMIENTO COMPLETE QUE LE PERMITIRÁ COMENZAR A RESOLVER SUS INCOMODIDADES. LE OFREZCO 4 UNIDADES, 2 CON LA PROMOCIÓN QUE OBSERVO EN NUESTRA PUBLICIDAD UNA MAS CON UN DESCUENTO ESPECIAL Y UNA UNIDAD TOTALMENTE GRATIS, ¿A DÓNDE SE LO ENVIAMOS?<br>
                    <%}%>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-4" id="tab-5283" role="tabpanel" aria-labelledby="link-tab-5283">
              <div class="u-container-layout u-container-layout-4">
                <%if(pais==5){%>
                  <h1 class="u-text u-text-default u-text-6">Toma de Datos</h1>
                  <p class="u-text-custom-color-4">Nombre Completo del Cliente</p>
                  <p class="u-text-black"> <span class="u-text-custom-color-4">Número Telefónico </span> (Espera la respuesta del cliente) también confirma el número telefónico completo al que se está comunicando (NO los últimos cuatro dígitos)</p>
                  <p class="u-text-black"><span class="u-text-custom-color-4">Edad</span> La venta se efecturá si el cliente es mayor de edad.</p>
                  <p class="u-text-black"><span class="u-text-custom-color-4">Provinicia</span> (En caso aun no lo ha brindado)</p>
                  <p class="u-text-black"><span class="u-text-custom-color-4">Número de casa (De existir número)</span> ¿Su dirección tiene numero de apartamento, oficina o es casa particular?. *¡NO ES OPCIONAL!* </p>
                  <p class="u-text-custom-color-3">Sr/Srita ¿Usted cómo úbica o conoce su casa? </p>
                  <p class="u-text-custom-color-3">Sr/Srita ¿Qué información brinda al momento de solicitar paquetes? </p>
                  <p class="u-text-custom-color-3">Sr/Srita según su recibo de servicios ¿Cuál es la dirección de su casa? </p>
                  <p class="u-text-custom-color-4">Recuerda siempres corroborar Datos importantes cómo: código de acceso, número de apartamento, nivel, etc.
                    Si son entregas en lugar de trabajo verificar si la entrega es recepción de oficina, nivel o área, entre otros. </p>
                  <%}%>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-5" id="tab-b447" role="tabpanel" aria-labelledby="link-tab-b447">
              <div class="u-container-layout u-container-layout-5">
                <h1 class="u-text u-text-default u-text-12">¿Recuerdas el Secreto?</h1>
                <p class="u-align-justify u-text u-text-black u-text-13">
                  <span class="u-text-custom-color-4">ES BASTANTE SENCILLO, SI LLEGASTE HASTA LA TOMA DE DATOS VENDIENDO UN SOLO PRODUCTO TIENES UNA ULTIMA OPORTUNIDAD: AL TERMINAR DE SOLICITAR LOS DATOS AL CLIENTE DEBES INFORMARLE LO SIGUIENTE...</span>
                  <br>
                  <%if(pais==5){%>
                    <br>"LE COMENTO QUE EL SISTEMA ME HABILITA EL TRATAMIENTO COUPLE LITE, PUEDE COMPRAR 2 PRODUCTOS POR EL VALOR DE ₡29,900.00 Y EL ENVIO ES GRATIS, ¿LE PARECE BIEN?"
                    <%}%>
                </p>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-6" id="tab-060b" role="tabpanel" aria-labelledby="link-tab-060b">
              <div class="u-container-layout u-container-layout-6">
                <%if(pais==5){%>
                  <h1 class="u-text-custom-color-4">IMIPORTANTE:</h1>
                  <h3 class="u-text-custom-color-4"> INFORMACIÓN SOLO PARA PAQUETERÍA: PAP ENCOMIENDA</h3>
                  <p class="u-text-black">Al finalizar la Frase de garantía por adquisición y confirmación de datos tienes que especificar el método de pago que será (Depósito o Simpre móvil) e informar que debe de ignorar posibles mensajes especificando la forma del pago.</p>
                <%}%>
                <%if(pais==5){%>
                  <h1 class="u-text-custom-color-4">OBSERVACIÓN:</h1>
                  <p class="u-text-black">¿Qué hago si el cliente me pregunta algún número de certificación del producto o la dirección de la compañía?<br>
                    Le comento Señor/ita, que nosotros somos el área de Call Center, usted puede ingresar a la página web oficial Hendel's garden; y validar la certificado de conformidad europea de todos los productos que nuestra compañía ofrece.</p>
                <%}%>
                <h1 class="u-text u-text-default u-text-14">FRASE DE CONFIRMACIÓN DE DATOS</h1>
                <p class="u-align-justify u-text u-text-black u-text-default u-text-15">"Su información es confidencial, su llamada fue grabada y monitoreada por Analistas de Calidad, por lo tanto usted estará recibiendo su producto:<br>&nbsp;<span class="u-text-custom-color-4">(Mencionar los siguientes datos)</span>
                  <br>
                  <br>
                  <br>
                  <br>Indicar que el pago debe ser exacto y en efectivo por que paquetería no lleva cambio.(Estos datos deben de quedar grabados en la llamada, que el cliente está o no de acuerdo con la información brindada, esta frase NO es modificable)." ..
                </p>
                <ol class="u-align-left u-text u-text-custom-color-4 u-text-16">
                  <li>
                    <span style="font-weight: 700;">Fecha<br>
                    </span>
                  </li>
                  <li>
                    <span style="font-weight: 700;">Horario<br>
                    </span>
                  </li>
                  <li>
                    <span style="font-weight: 700;">Cantidad de producto y precio</span>
                    <br>
                  </li>
                </ol>
                <h1 class="u-text u-text-default u-text-17">FRASE DE CONFIRMACIÓN DE GARANTÍA</h1>
                <p class="u-align-justify u-text u-text-black u-text-18">"“Recuerde que desde este momento usted está dando la aceptación de la compra para que llegue dicho pedido a la dirección que usted nos brindó ¿de acuerdo?”&nbsp;<span class="u-text-custom-color-4">(Debe de quedar grabado en la llamada que el cliente acepta o no el envío del producto y esta frase NO es modificable)<br>Despedida: Despídase con etiqueta telefónica, agradezca la compra sin que el cliente sienta que fue cortado."
                  </span>
                </p>

                <h1 class="u-text u-text-default u-text-19">FRASE DE DESPEDIDA</h1>
                <p class="u-align-justify u-text u-text-black u-text-20">Gracias por su compra, POR SU SEGURIDAD la entrega será realizada por nuestro mensajero previamente identificado y entregará su producto en un paquete blanco de nuestra compañía 2wtrade. Evite recibir falsificaciones que pueden atentar contra su salud. Buen día.<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6f17"><div class="u-align-center u-clearfix u-group-elements u-group-elements-1">
<img class="u-align-center u-image u-image-default u-preserve-proportions u-image-1" src="img/LogoPhilomelaTransparente.png" alt="" data-image-width="3627" data-image-height="1176">
      </div><p class="u-text u-text-1">20 ave 3-61 San Cristobasl II zona 8 Mixco, Mixco Guatemala Edificio La Piazzeta.<br>
      </p><p class="u-text u-text-2">Siguenos en redes sociales:</p><div class="u-align-left u-social-icons u-spacing-10 u-social-icons-1">
        <a class="u-social-url" title="facebook" target="_blank" href="https://es-la.facebook.com/philomelacall/"><span class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9b32"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-9b32"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
            c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
        </a>
        <a class="u-social-url" title="twitter" target="_blank" href="https://es-la.facebook.com/philomelacall/"><span class="u-icon u-social-icon u-social-twitter u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-60d2"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-60d2"><circle fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
            c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
            c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
            c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
            c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path></svg></span>
        </a>
        <a class="u-social-url" title="instagram" target="_blank" href="https://es-la.facebook.com/philomelacall/"><span class="u-icon u-social-icon u-social-instagram u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-726a"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-726a"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
            z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
            C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
            c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
        </a>
        <a class="u-social-url" title="linkedin" target="_blank" href="https://es-la.facebook.com/philomelacall/"><span class="u-icon u-social-icon u-social-linkedin u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a763"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-a763"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
        </a>
      </div></footer>
  </body>
</html>
