.u-section-1 .u-sheet-1 {
  min-height: auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 350px;
  margin: 28px auto 0 190px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 226px;
  height: 321px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  width: 350px;
  margin: -380px 170px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 22px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 226px;
  height: 321px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -9px auto 0;
}

.u-section-1 .u-layout-wrap-3 {
  width: 350px;
  margin: 0 170px 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 0 78px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 326px;
  height: 326px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 -14px 0 auto;
}

.u-section-1 .u-layout-wrap-4 {
  width: 350px;
  margin: -380px auto 0 190px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-image-4 {
  height: 322px;
  margin-top: 30px;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-text-4 {
  margin: -352px auto 0;
}

.u-section-1 .u-layout-wrap-5 {
  width: 350px;
  margin: 20px auto 0 199px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

.u-section-1 .u-image-5 {
  width: 249px;
  height: 320px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto 0 20px;
}

.u-section-1 .u-layout-wrap-6 {
  width: 350px;
  margin: -380px 132px 0 auto;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 14px;
}

.u-section-1 .u-text-6 {
  margin: 0 0 0 11px;
}

.u-section-1 .u-image-6 {
  height: 286px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 8px 5px 0;
}

.u-section-1 .u-layout-wrap-7 {
  width: 350px;
  margin: 0 auto 0 199px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: 0 0 0 4px;
}

.u-section-1 .u-image-7 {
  height: 320px;
  width: 322px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px auto 0;
}

.u-section-1 .u-layout-wrap-8 {
  width: 350px;
  margin: -380px 111px 0 auto;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  width: 196px;
  margin: 0 auto;
}

.u-section-1 .u-image-8 {
  height: 320px;
  width: 312px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -9px auto 0;
}

.u-section-1 .u-layout-wrap-9 {
  width: 350px;
  margin: -1px 111px 0 auto;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-1 .u-text-9 {
  margin: -1px 27px 0;
}

.u-section-1 .u-image-9 {
  width: 234px;
  height: 320px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0;
}

.u-section-1 .u-layout-wrap-10 {
  width: 350px;
  margin: -379px auto 0 199px;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 380px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 30px;
}

.u-section-1 .u-text-10 {
  width: 219px;
  margin: -1px auto 0;
}

.u-section-1 .u-image-10 {
  width: 239px;
  height: 320px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 115px;
    height: 322px;
  }

  .u-section-1 .u-image-5 {
    width: 115px;
    height: 148px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    height: 160px;
    width: 186px;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    height: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 924px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -954px;
  }

  .u-section-1 .u-layout-wrap-5 {
    margin-left: 190px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 293px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-7 {
    margin-left: 190px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-10 {
    margin-left: 190px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 896px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -926px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-6 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 1px;
  }

  .u-section-1 .u-image-6 {
    height: 284px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-7 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-8 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-9 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-layout-wrap-10 {
    width: 340px;
    margin-left: 0;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-6.u-image-6.u-image-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-6.u-image-6.u-image-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-7,
.u-section-1 .u-image-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-7.u-image-7.u-image-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-7.u-image-7.u-image-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-8,
.u-section-1 .u-image-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-8.u-image-8.u-image-8:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-8.u-image-8.u-image-8.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-10,
.u-section-1 .u-image-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-10.u-image-10.u-image-10:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-10.u-image-10.u-image-10.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-9,
.u-section-1 .u-image-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-9.u-image-9.u-image-9:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-9.u-image-9.u-image-9.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-image-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 1916px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 350px;
  margin: 0 111px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  width: 274px;
  height: 321px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-1 {
  width: 164px;
  margin: -350px auto 0;
}

.u-section-2 .u-layout-wrap-2 {
  width: 350px;
  margin: -378px auto 0 199px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 381px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-image-2 {
  height: 321px;
  margin-top: 30px;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-text-2 {
  width: 154px;
  margin: -351px auto 0;
}

.u-section-2 .u-layout-wrap-3 {
  width: 350px;
  margin: -1px auto 0 199px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 52px 0 74px;
}

.u-section-2 .u-image-3 {
  height: 297px;
  width: 274px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 3px auto 0;
}

.u-section-2 .u-layout-wrap-4 {
  width: 350px;
  margin: -380px 111px 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 12px;
}

.u-section-2 .u-text-4 {
  width: 214px;
  margin: 0 auto;
}

.u-section-2 .u-image-4 {
  width: 326px;
  height: 326px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0;
}

.u-section-2 .u-layout-wrap-5 {
  width: 350px;
  margin: 0 auto 0 199px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-2 .u-image-5 {
  width: 249px;
  height: 320px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  margin: -350px 8px 0;
}

.u-section-2 .u-layout-wrap-6 {
  width: 350px;
  margin: -380px 111px 0 auto;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 19px;
}

.u-section-2 .u-text-6 {
  width: 137px;
  margin: 0 auto;
}

.u-section-2 .u-image-6 {
  height: 286px;
  margin-top: 8px;
  margin-bottom: 0;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-layout-wrap-7 {
  width: 350px;
  margin: 14px auto 0 199px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-2 .u-text-7 {
  margin: 0;
}

.u-section-2 .u-image-7 {
  height: 320px;
  width: 239px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-8 {
  width: 350px;
  margin: -380px 111px 0 auto;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 19px;
}

.u-section-2 .u-text-8 {
  margin: 0 11px;
}

.u-section-2 .u-image-8 {
  height: 320px;
  width: 312px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -9px 0 0;
}

.u-section-2 .u-layout-wrap-9 {
  width: 350px;
  margin: 0 auto 0 199px;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 30px;
}

.u-section-2 .u-text-9 {
  margin: 0;
}

.u-section-2 .u-image-9 {
  width: 239px;
  height: 320px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 2px auto 0;
}

.u-section-2 .u-layout-wrap-10 {
  width: 350px;
  margin: -380px 111px 0 auto;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 380px;
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-image-10 {
  height: 320px;
  width: 312px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -3px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: 115px;
  }

  .u-section-2 .u-image-7 {
    height: 155px;
    width: 116px;
  }

  .u-section-2 .u-image-8 {
    height: 321px;
  }

  .u-section-2 .u-image-9 {
    width: 116px;
    height: 155px;
  }

  .u-section-2 .u-image-10 {
    height: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-left: 190px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 921px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -951px;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-left: 190px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-5 {
    margin-left: 190px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    height: 303px;
  }

  .u-section-2 .u-layout-wrap-7 {
    margin-left: 190px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-9 {
    margin-left: 190px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 893px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -923px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 47px;
    margin-left: 69px;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 320px;
    height: 320px;
  }

  .u-section-2 .u-layout-wrap-5 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-2 .u-layout-wrap-6 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 294px;
  }

  .u-section-2 .u-layout-wrap-7 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-8 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-wrap-9 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-10 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
  }
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-5,
.u-section-2 .u-image-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-6,
.u-section-2 .u-image-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-6.u-image-6.u-image-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-6.u-image-6.u-image-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-7,
.u-section-2 .u-image-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-7.u-image-7.u-image-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-7.u-image-7.u-image-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-8,
.u-section-2 .u-image-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-8.u-image-8.u-image-8:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-8.u-image-8.u-image-8.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-9,
.u-section-2 .u-image-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-9.u-image-9.u-image-9:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-9.u-image-9.u-image-9.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-10,
.u-section-2 .u-image-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-10.u-image-10.u-image-10:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-10.u-image-10.u-image-10.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-image-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 421px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 350px;
  margin: 0 auto 40px 199px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 381px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 27px;
}

.u-section-3 .u-image-1 {
  height: 321px;
  width: 224px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px auto 0;
}

.u-section-3 .u-text-1 {
  margin: -351px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    margin-bottom: 0;
    min-height: 1509px;
  }

  .u-section-3 .u-image-1 {
    height: 173px;
    width: 121px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -203px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3218px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: 190px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2048px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

#columna1{
  left: 0px;
  width: 50%;
  height: 1500px;
  background-color:#000000;
}

#columna2{
margin-left: 50%;
margin-right:0px;
background-color:#ffffbb;
}

#contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#columna{
  width:20%;
}
