.u-section-1 .u-sheet-1 {
  min-height: 748px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 0 8px rgba(128,128,128,1);
  margin: 94px auto 0;
}

.u-section-1 .u-form-1 {
  height: 502px;
  width: 563px;
  margin: 50px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 688px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 0 8px rgba(128,128,128,1);
  margin: 50px auto 0;
}

.u-section-2 .u-form-1 {
  height: 241px;
  width: 570px;
  margin: 50px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-2 .u-table-1 {
  width: 974px;
  margin: 50px auto;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-block-266c-43 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
}